<!DOCTYPE html>
<html lang="en">
 
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title> Rospinot</title>
  </head>

  <body>  
    
    <div>
      <h1 id="Ros">Rospinot</h1>
    </div>
    <p>
     <b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, ut.</b> 
     <br>
     <i>Earum esse! Consectetur natus autem non delectus quisquam doloribus quos iste molestias, quibusdam reiciendis</i>
     <br> 
     <u>assumenda. Consectetur quod numquam officiis, ipsa nesciunt pariatur. Voluptatum!.</u>
     <br>
   <h3>LEGO</h3>
   <a href="Ros">Rospinot</a>
  </p>
  <div>
  <img src="rospinot.png">
</div>
  <div>
  <form>
    <label>
      Name:
    </label>
    <input type="text" name="NAME" placeholder="Enter your name"><br>
    <label>
      Enrollment No.:
    </label>
    <input type="text" name="Enrollment_Number" placeholder="Enter your enroll no."><br>
    <input type="Submit">
    <!-- <input type="text" name="" placeholder = "Enter your name">
    <br>
    <input type="text" name="" placeholder = "Enter your enrollment number">
    <br>
    <button class="btn">Submit</button> -->
  </form>
</div>
<br>
<hr>
<div>
  <table border="10">
    <tr>
      <th>Name&nbsp;</th>
      <th>Enroll_no&nbsp;</th>
      <th>Branch&nbsp;</th>
    </tr>
    <tr>
      <td>Sunita Pandey</td>
      <td>201B130</td>
      <td>CSE</td>
    </tr>
    <tr>
      <td>Geeta Mishra</td>
      <td>201B345</td>
      <td>CSE</td>
    </tr>
    <tr>
      <td>Meenu Gupta</td>
      <td>201E290</td>
      <td>ECE</td>
    </tr>
  </table>
</div>
  </body>
</html>